/* Import the reindeer theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin x47breindeer {
	/* Include all the styles from the reindeer theme */
	@include reindeer;

	.v-captiontext {
		font-weight: bold;
	}
   
	.v-selected .entityTableButton .v-button-caption {
		color: #fff;
	}

	>.v-table-header-cell-rowheader {
		div.v-table-cell-wrapper {
			text-align: right;
		}	
	}
	
	.v-gridlayout-x47borganizationbar {
		margin-left:50px;		
		border: 1px solid;						
	}
			
	.v-table-cell-wrapper {
		white-space: normal !important;
	}
		
	.v-filterselect-deleteFilter {
		background-image: none;
		
		.v-filterselect-input {
			display:none;
		}
		.v-filterselect-button {
			background-image: url("images/r01_remove_filter.png");
			margin:0 0 0 10px;
			padding:0;			
						
			&:hover {
				background-image: url("images/r01_remove_filter.png");
			}
		}
	}
	
	.v-filterselect-suggestpopup-deleteFilter {
		display:none;
	}

   .v-textfield-x47bentityID {
    	text-transform: uppercase;
	}

	.x47bformgrid .v-label {
		font-weight:bold;
	}
	
	.x47balarm-link-active .v-button-wrap .v-button-caption {
		color: red;
	}

	.x47b-textField-disabled {
       opacity: 0.8;
       border: 1px solid #bfbfbf;
	}	
	
	.x47b-combo-disabled {
       opacity: 0.8;      
	}
			
	.x47bentityWindow .v-window-header .v-icon {
		padding-right: 10px;		
	}
	
	.x47bdeletewarning {
		h1 {
			padding:0;
			margin:0;
		}
	}
	
	
	
	.x47bentitytable .v-table-header-cell {
		cursor:default;
	}
	
	.x47bentitytable .v-table-caption-container {
		div {
			width:90%;
			display:inline-table;
			text-align:left;
		}
		
		img.v-icon {
			border-radius:3px;
			border: 1px solid  #C0C0C0;
			cursor:pointer;
		}
		
			
	}
	
	.x47bentitytable {
		.v-scrollable {
			overflow: hidden;
		}
	}
	

  
}
